.photo-div {
  margin-bottom: 10px;
  padding-bottom: 5px;
  float: left;
  margin-right: 20px;
}

.photo-div.endofrow {
  margin-right: 0;
}

.photo-div img {
  width: 100px;
  height: 100px;
  margin: 0;
}

.photo-div p.details {
  font-size: bold;
  font-size: 14px;
  line-height: 14px;
  color: #aaa;
  width: 272px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: rgba(51, 51, 51, 0.5);
  padding: 8px 4px;
  margin: -4px 0 0 0;
}

.photo-div p.details span.title {
  color: #fff;
}
